* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    background-color: #686af5;
}

@media all and (max-width: 920px) {
    .app {
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
}